.env
postgres_data/
*.log

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
database/
venv/
env/
.venv/

.ipynb_checkpoints/

data/raw/
data/processed/

*.pkl
*.joblib
*.h5
*.model

*.sqlite3

.DS_Store
Thumbs.db

.coverage
htmlcov/

*.log

.vscode/
.idea/

build/
dist/
*.egg-info/

.streamlit/

__pycache__/